<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.shreyas.newsroom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".NewsRoomApp"
        android:allowBackup="true"
        tools:replace="android:icon"
        android:icon="@mipmap/ic_launcher_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".WebViewActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".DetailViewActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".DbDetailViewActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".ChatActivity" android:label="Discuss"  android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SplashActivity"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".UserStoriesActivity" android:label="Notes"  android:screenOrientation="portrait"/>
        <activity android:name=".CameraActivity" android:label="Write Notes"  android:screenOrientation="portrait"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <service android:name=".NotificationListener"/>
    </application>

</manifest>
